*{
    margin: 0;
    background-color: antiquewhite;
}
.tieude{
    margin-left: 300px;
}
.tieude2{
    margin-left: 260px;
}
.tieude3{
    margin-left: 60px;
}
.noidung{
    margin-left: 100px;
}
.noidung1{
    margin-left: 50px;
}
.noidung2{
    margin-left: 150px;
}
.noidung3{
    margin-left: 80px;
}
.noidung5{
    margin-left: 290px;
}
.noidung6{
    margin-left: 320px;
}